{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ article.body }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>
                    {% if article.file %}
                    <img style="width: 200px" src="{{ asset('uploads/article_imgs/' ~ article.file) }}" alt="">
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_article_index') }}">back to list</a>

    <a class="btn btn-primary"  href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
